<!DOCTYPE html>
<html>
    <head>
        <title> TODO </title>
        <linK rel="stylesheet" href="/css/home.css"> 
    </head>


    <body>
        
        <script type="text/javascript" src="js/home.js"></script> 
    </body>
</html>